<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.parkietenvilla.kweekinfo" version="0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KweekHulp</name>
    <description>
        ParkietenVilla KweekHulp app, handige informatie voor tijdens het vogelkweekseizoen
    </description>
    <author email="jeroenpeters1986@gmail.com" href="http://jeroen.in">
        Jeroen Peters
    </author>

    <content src="index.html" />
    <icon src="img/icon.png" />

    <plugin name="cordova-plugin-whitelist" version="1" />

    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <icon platform="ios" src="res/icons/ios/icon-small.png" width="29" height="29" />
    <icon platform="ios" src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
    <icon platform="ios" src="res/icons/ios/icon-40.png" width="40" height="40" />
    <icon platform="ios" src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
    <icon platform="ios" src="res/icons/ios/icon-50.png" width="50" height="50" />
    <icon platform="ios" src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
    <icon platform="ios" src="res/icons/ios/icon.png" width="57" height="57" />
    <icon platform="ios" src="res/icons/ios/icon-2x.png" width="114" height="114" />
    <icon platform="ios" src="res/icons/ios/icon-60.png" width="60" height="60" />
    <icon platform="ios" src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
    <icon platform="ios" src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
    <icon platform="ios" src="res/icons/ios/icon-72.png" width="72" height="72" />
    <icon platform="ios" src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
    <icon platform="ios" src="res/icons/ios/icon-76.png" width="76" height="76" />
    <icon platform="ios" src="res/icons/ios/icon-76-2x.png" width="152" height="152" />

    <splash src="res/screens/ios/Default@2x.png" platform="ios" width="640" height="960" />
    <splash src="res/screens/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />
    <splash src="res/screens/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
    <splash src="res/screens/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
    <splash src="res/screens/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

    <icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
    <icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
    <icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

    <splash platform="android" qualifier="hdpi" src="res/screens/android/drawable-hdpi/background.9.png" />
    <splash platform="android" qualifier="xhdpi" src="res/screens/android/drawable-xhdpi/background.9.png" />
    <splash platform="android" qualifier="xxhdpi" src="res/screens/android/drawable-xxhdpi/background.9.png" />
    <splash platform="android" qualifier="xxxhdpi" src="res/screens/android/drawable-xxxhdpi/background.9.png" />
</widget>
